<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>- Lista de Tarefas Digital</h1>
    <div class="conteudo">
        <div class="lado-esquerdo">
            <img src="/static/img/celulares.png" alt="Celular e Computador">
        </div>
        <div class="lado-direito">
            <a class="botao" href="/login">Já tenho uma conta</a>
            <a class="botao" href="/cadastro">Não tenho uma conta</a>
        </div>
    </div>
</body>
</html>